<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agent.activities">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="commonutilities.ComponentMd5SharedPre"
        android:allowBackup="true"
        android:icon="@mipmap/logoeu"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".SplashActivity">

            <!-- ****************  Start Class **************** -->

             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>


        </activity>



        <activity
            android:name=".RePrint"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">


       <!-- <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->



        </activity>



        <activity
            android:name=".DisplayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->


        </activity>


        <!--  ############################### Purchase Deposit  Menu Airtime  6 Dec 2019 ############################### -->


        <activity
            android:name="agent.purchase_billpayment_deposit_menu.airtime.Airtime"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">


            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN"/>
                 <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>-->

        </activity>


        <activity
            android:name="agent.purchase_billpayment_deposit_menu.electricity_water.ElectricityWaterMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>




        <activity
            android:name="agent.purchase_billpayment_deposit_menu.electricity_water.electricity.ElectricityPayBillMpinPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>



        <activity
            android:name="agent.purchase_billpayment_deposit_menu.PurchaseBillpaymentDepositMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">


           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>



        <activity
            android:name="agent.purchase_billpayment_deposit_menu.electricity_water.electricity.CheckBoxMpinPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.tv_subscription.TvSubscription"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>



        <activity
            android:name="agent.purchase_billpayment_deposit_menu.taxes.TaxesMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.taxes.SocialContribution"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.taxes.RechargeCashDeposit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.electricity_water.recharge_meter.RechargeElectricityMeter"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.electricity_water.settle_outstanding.SettleOutstanding"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>


        <!--  ############################################################################################### -->

        <activity
            android:name="agent.purchase_billpayment_deposit_menu.LayoutDesignTemp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>

        <!--  ############################################################################################### -->


        <activity
            android:name="agent.eui.SendMoneyCashtoMobileCashtoCashMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="agent.tutionfees_fragment.SucessReceiptTutionFees"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="agent.eui.sendmoney_cashtocash_fragment.ReprintSendCash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <activity
            android:name="sucess_receipt.ReprintTutionFeesSh"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>




        <activity
            android:name="agent.eui.receivemoney_cashtocash_fragment.ReprintCashToReceive"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="sucess_receipt.SucessReceiptApproval"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.eui.receivemoney_cashtocash_fragment.SucessReceiptCashToReceive"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity

            android:name="agent.other_services.OtherServiceNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity

            android:name="agent.report.ReportsPrintReprintMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity

            android:name="agent.transaction_cancel.TransactionCancelMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.eui.sendmoney_cashtocash_fragment.SucessReceiptCashToCashSendMoney"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.internationalremittance.view.InternationalRemittanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".OTPVerificationActivityNewChangeMpin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCreateAgentNewUpdateNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TransactionCancel_new_Demo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.ViewProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptTransferOrderApproval"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.eui.SendMoneyCashToMobileDifferentCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BlockSubscriber"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintReceiveMoneyToMobile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.transaction_approval.OrderTransferApproval"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.transaction_approval.OrderTransfer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashCancel"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocashimoney.CashToCashCancelFees"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocashimoney.CashToCashCancelFeesNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashReceiveMoneySameCountryNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptTransferOrder"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCashToCashReceiveMoney"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashDeposit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashWithdrawal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocashimoney.CashToCashImoneyMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashin.CashToCashTransferDeposit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashout.CashToCashTransferWitthdrawal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptPrintReceipt"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCreateAgent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCashIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashReceiveMoneySameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashToCashSameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintSendMoneyToMobile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCashOut"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCashToCashSameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--
 <activity
             android:name="sucess_receipt.SucessReceiptApproval"
             android:label="@string/app_name"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateAlwaysHidden">


         </activity>
        -->
        <activity
            android:name="sucess_receipt.SucessReceiptSendMoneyToMobileDiffrentCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocash.CashToCashReceiveMoneyMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocash.CashToCashSendMoneyMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocash.CashToCashReceiveMoneySameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashtocash.CashToCashReceiveMoneySameCountryNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="agent.eui.receivemoney_cashtocash_fragment.ImoneySeacrhReceiveCash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="agent.eui.CashToCashSendMoneySameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SuccessRecieptCustomerIdBillPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.eui.sendmoney_cashtocash_fragment.DiffrentCountrySendMoneyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="sucess_receipt.SucessReceiptCashToMarchant"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptReprintCashToMarchant"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name="printer_utilities.PrinterListShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name="agent.sendmoney_receivemoney.ReceiveMoneyMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>


        <activity
            android:name="agent.cashout.CashoutGenerateSendWithdrawalCode"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name=".PrintReceipt"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.eui.SendMoneyCashToMobileSameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.SendMoneyMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptPrintBill"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name=".TariffNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.cashout.CashOutMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.eui.receivemoney_cashtocash_fragment.ReceiveMoneyCashToCashDiffrentCountryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="agent.cashin.CashInMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.CashToMobileMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PrintBillPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PrintMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptBillPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptPrepaidBill"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".LanguageChooseMenu">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name="agent.cashout.CashOutWithdrawalCodeDifferentBranch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptCashIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PrepaidBill"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptSendMoneyToMobile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptSendMoneyToName"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptReceiveMoneyToMobile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptCreateAgent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptCashOutDiffrentBranch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptWithdrawalBranch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptCashOutSameBranch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->

        </activity>
        <activity
            android:name="agent.sendmoney_receivemoney.RemmettanceReceiveMoneyToName"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PictureSign"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptReceiveMoneyToName"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sucess_receipt.SucessReceiptTransactionCancelReceipt"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ChangeMpin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResetMpin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UnblockSubscriber"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OtherAccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LanguageChange"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CustomerService"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OTPVerificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
                 <intent-filter>
                       <action android:name="android.intent.action.MAIN" />
                       <category android:name="android.intent.category.LAUNCHER" />
                   </intent-filter>
            -->

        </activity>
        <activity
            android:name=".ResendSmsConfCode"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ResendSmsConfCode_new"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.RemmettanceSendMoneyToName"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="billpay.BillSelectionCustomerId"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="billpay.BillPayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="billpay.BillSelectionCustomerFinal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".AccountBalanceSpinner"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="agent.transaction_approval.TransactionApprovalMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.commision_pullback.CommissionForTransfer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.commision_pullback.CommissionPullbackMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.other_services.OtherServiceMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.other_services.AccountManagement"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashin.CashIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.CreateAccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.AccountsMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name="agent.cashout.CashOutSameBranch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.MoneyTransferMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.CreateAccountNewEnglish"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.CreateAccountNewFrench"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.UpdateAccountNewEnglish"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.cashout.CashOutMenuNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.create_account.UpdateAccountNewFrench"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.SendMoneyCashToMobileDifferentCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.sendmoney_receivemoney.ReceiveMoneyCashToMobileSameCountry"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
               <intent-filter>
                   <action android:name="android.intent.action.MAIN" />
                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>
            -->

        </activity>
        <activity
            android:name="sucess_receipt.SucessReceiptReprintBillPay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
               <intent-filter>
                   <action android:name="android.intent.action.MAIN" />
                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>
            -->

        </activity>
        <activity
            android:name=".BillPayMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="BillpayMenuNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="agent.tutionfees_fragment.TutionFeesAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="agent.tutionfees_fragment.TutionFeesMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!--
 <activity
             android:name=".BillpayBill"
             android:label="@string/app_name"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateAlwaysHidden">
         </activity>
        -->
        <activity
            android:name=".CashToMarchant"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TransactionApproval"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.transaction_cancel.TransactionCancel"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.TransactionDetailsReport"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.CommissionPeriod"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.CurrentDayCommission"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.CommissionReportMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.ReportMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="agent.report.AgentBankReport"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />




        <!-- <receiver android:name="commonutilities.SmsListener" android:permission="android.permission.BROADCAST_SMS"> -->
        <!-- <intent-filter android:priority="999" > -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <receiver
            android:name=".OTPRecieverGlobal"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver> <!-- <receiver -->
        <!-- android:name=".OTPRecieverLocal"> -->
        <!-- <intent-filter android:priority="999"> -->
        <!-- <action android:name="com.eusa.english.home.READY_TO_RECIEVE_SMS"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".OTPRecieverLocal"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="com.eusa.english.home.READY_TO_RECIEVE_OTP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>